body {
    font-size: 16px; /* Cambia la grandezza del testo a 16px */
}

h1 {
    font-size: 32px; /* Cambia la grandezza del testo degli h1 a 32px */
    text-align: center;
}

h2 {
    font-size: 16px; /* Cambia la grandezza del testo degli h1 a 32px */
    text-align: left;
}

p {
    font-size: 20px; /* Cambia la grandezza del testo dei paragrafi a 14px */
    text-align: center;
}

navbar {
    justify-content: auto;
}

.small-image {
    width: 200px; /* Rimpicciolisce l'immagine a 200px di larghezza */
    display: block; /* Assicura che l'immagine sia un blocco */
    margin: 20px auto; /* Centra l'immagine orizzontalmente e aggiunge un margine verticale */
}

.italic-text {
    font-style: italic;
}


.youtube-player {
    margin-top: 50px; /* Aggiunge un margine superiore di 20px */
}

.shift-right {
    margin-left: 200px; /* Puoi modificare il valore per spostare il paragrafo più o meno a destra */
}

.align-left {
    text-align: left;
}

.text-navbar {
    font-size: 20px;
    text-align: left;
}

nav a {
    margin: 10px 0; /* Spazio verticale tra i link */
    text-align: center; /* Centra il testo */
}

